*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
}

#nav{
    height: 9vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
}

.circle{
    height: 19px;
    width: 19px;
    background-color: #333;
    border-radius: 50%;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.1vw;
}

#nav-part2 h4{
    font-size: 16px;
    font-weight: 549;
}

#nav-part2 h4 span{
    color: rgb(71, 71, 71);
    margin-left: 20px;
}

#nav2{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 4vw;
    padding: 0 30px;
}

#nav2 h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 549;
}

#content{
    height: calc(100% - 19vh);
    width: 100%;
    /* background-color: aquamarine; */
}

#text-content{
    height: 45%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto ;
    /* align-items: center; */
    /* justify-content: center; */
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 0.7vh;
    /* width: 1000vw; */
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 60px;
    font-weight: 50;
}

#img-content{
    height: 60%;
    width: 100%;
}