*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html,body{
    width: 100%;
    height: 100%;
    background-color: #f8f7f4;
    /* background-color: blue; */
}

/* title::before{
    content: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1boukDZ1rbl6A9k9pg4Tp_aadnX6LrTOIKw&s";
    width: 100%;
    height: 100%;
} */

#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* display: flex; */
}

#nav{
    height: 15vh;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2vw;
}


#nav-part1{
    width: 32%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4{
    font-size: 1vw;
    font-weight: 449;
}

/* #nav-part1 h4 span{
    width: 100%;
    height: 100%;

} */

/* #nav-part1 h4 span::after{
    content: "Designer search";
} */

#nav img{
    height: 14vh;
    width: fit-content;
    /* background-color: green; */
}

#nav-part2{
    width: 32%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button{
    /* padding: 0.6vw 0.9vw; */
    padding: 0.9vw 1.4vw;
    border-radius: 5vw;
    font-size: 1.01vw;
    /* font-size: 1.05vw; */
    font-weight: 549.9;
    /* font-weight: 480; */
    border: none;
    background-color: black;
    color: white;
    margin: 0 0.1vw;
}

#nav-part2 button:nth-child(2){
    background-color: transparent;
    color: #000;
}

#nav-part2 form{
    height: 5vh;
    border-radius: 5vw;
    width: 13vw;
    margin-right: 2vw;
    /* padding: 0 3vw; */
}


#nav-part2 input{
    height: 5vh;
    border-radius: 5vw;
    width: 13vw;
    padding: 0 2.3vw;
    font-size: 1vw;
    border: none;
}

/* #nav-part2 input::before{
    /* content: "<i class="ri-search-line"></i>"; */
    /* content: "🔍";
    height: 2vh;
    width: 2vw; */
/* } */


#page1 #content{
    height: calc(100% - 15vh);
    width: 100%;
    /* background-color: orange; */
    padding-top: 5vw;
}

#content h3{
    background-color: #F2B0EA;
    padding: 0.75vw 1.3vw;
    width: fit-content;
    text-align: center;
    border-radius: 5vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    font-weight: 550;
}
/* 
@keyframes colour-changing {
} */

#content h1{
    /* font-size: 5.4vw; */
    font-size: 5.3vw;
    /* font-size: 4.2vw; */
    /* font-size: 3.9vw; */
    text-align: center;
    margin: 2.3vw 0 2.1vw 0;
    font-weight: 500;
    /* width: 50%; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Gill Sans'; */
    font-family: 'Source serif 4';
    /* font-family: 'Gill Sans MT'; */
    /* font-family: Calibri; */
    /* font-family: sans-serif; */
    /* font-family: 'Trebuchet MS'; */

    line-height: 5.2vw;
}

#content h4{
    text-align: center;
    /* font-size: 1.28vw; */
    font-size: 1.35vw;
    font-weight: 549.99;
}

#content button{
    /* padding: 0.9vw 1.4vw; */
    /* padding: 1.2vw 1.55vw; */
    padding: 1.25vw 1.6vw;
    border-radius: 5vw;
    font-size: 1vw;
    /* font-size: 1.02vw; */
    /* font-size: 1.05vw; */
    /* font-weight: 549.9; */
    font-weight: 549;
    /* font-weight: 480; */
    border: none;
    background-color: black;
    color: white;
    /* margin: 0 0.1vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2.1vw 0;
}

#scroll{
    /* height: 50%; */
    height: 50vh;
    width: 100%;
    background-color: rebeccapurple;
    padding: 0.7vw;
    /* display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    overflow-x: auto;
    overflow-y: hidden; */
    /* display: inline-block;    */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* margin-right: 3vw; */
    /* animation-name: scrolling; */
    /* animation-duration: 5s; */
}

.container{
    height: 100%;
    /* width: 100%; */
    width: 17.9vw;
    background-color: #F2B0EA;
    /* border: 2px solid black; */
    /* flex-shrink: 0; */
    display: inline-block;
    /* margin-right: 1vw; */
    margin-right: 0.8vw;
    border-radius: 2vw;
    /* animation: scrolling 2s 3s 1s infinite linear 0; */
    /* animation-name: scrolling; */
    /* animation-duration: 7.55s; */
    /* animation-duration: 10s; */
    /* animation-delay: 1s; */
    /* animation-iteration-count: infinite; */
    /* animation: ease-in-out; */
    /* animation-timing-function: calc(100% - 0.8vw); */
    /* animation-play-state: running; */
    /* animation-timing-function: linear; */
}

#scroll::-webkit-scrollbar{
    display: none;
}

/* @keyframes scrolling { */
    /* form{ */
        /* transform: translateX(0); */
    /* } */
    /* to{ */
        /* transform: translateX(-100%); */
    /* } */
    
/* } */

/* Page2 */

#page2{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 35vh;
}