*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

/* main{
    height: 100%;
    width: 100%;
    background-color: rgb(244, 240, 240);
    
}

nav{
    height: 80px;
    width: 100%; */
    /* background-color: aqua; */
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 3vw;
}

nav h4{
    font-size: 19px;
    font-weight: 540;
}

nav i{
    background-color: black;
    color: beige;
    font-size: 19px;
    padding: 0.4vw;
    border-radius: 50%;
    font-weight: 540;
} */

/* header{ */
    /* height: 40%; */
    /* width: 100%; */
    /* background-color: red; */
    /* padding: 2vw 4vw; */
    /* line-height: 4.5vw; */
    /* display: flex; */
    /* justi */
/* } */

/* header h1{ */
    /* font-size: 4vw;
    font-weight: 495;
    line-height: 4.3vw;
} */

/* header p{
    height: 200px;
    background-color: red;
    width: 100%;
    margin-top: 40px;
    font-size: 1.2vw;
    font-weight: 470;
    line-height: 1.5vw;
} */ 



/* #left{
    background-color: red;

}

#right{
    background-color: blue;
} */

/* .elem{
    background-color: lightcoral;
    border: 1px solid black;
} */

#main{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    /* grid-row: 2/4; */
    grid-template-rows: 30% 55% 15%;
}

#left-top-left{
    /* background-color: blueviolet; */
    padding: 2.5vw;
}

#square{
    width: 17px;
    height: 17px;
    background-color: black;
    rotate: 45deg;
}


#left-top-right{
    /* background-color: aqua; */
    /* grid-row: 1/4; */
    /* grid-column: 2; */
    /* align-items: center; */
    justify-self: right;
    padding: 2.2vw;
    text-align: right;
}

#left-top-right h4{
    margin-bottom: 2.2vw;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#left-center{
    /* background-color: red; */
    grid-column: 1/3;
    /* grid-row: 2; */
    padding: 1.5vw;
    line-height: 5.8vw;
}
/* 
#left-center p{
    width: 40%;
} */

#left-center h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    /* background-color: blue; */
    grid-column: 1/3;
    /* grid-row: 3; */
    padding: 1.7vw;
}

#left-bottom p{
    width: 75%;
    font-size: 1.1vw;
}


#right{
    /* background-color: palevioletred; */
    grid-row: 1/4;
    grid-column: 3;
    padding: 1.5vw;
    padding-right: 2.3vw;
    padding-left: 2.3vw;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 1vw;
}

#arrow i{
    font-size: 2.6vw;
    font-weight: 100;
}

/* Responsive */

@media (max-width:600px) {

    #main{
        width: 100%;
        height: 100%;
        background-color: #ededed;
        display: grid;
        grid-template-columns: 50% 50%;
        /* grid-row: 2/4; */
        /* grid-template-rows: 10% 60% 30%; */
        grid-template-rows: 60px 30% 10%;
    }

    #right{
        /* background-color: palevioletred; */
        grid-row: 4;
        grid-column: 1/4;
        padding: 0.7vw;
        padding-right: 2.3vw;
        padding-left: 2.3vw;
    }
    
}