*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

button{
    height: 8vh;
    width: 8vw;
}

#parent{
    height: 25vh;
    width: 30vw;
    background-color: lightcoral;
    padding: 5vw;
}

#Play{
    height: 7vh;
    width: 9vw;
    /* background-color: red; */
    border-radius: 5vw;
    /* border-color: none; */
    border: none;
}

#Pause{
    height: 7vh;
    width: 9vw;
    /* background-color: red; */
    border-radius: 5vw;
    /* border-color: none; */
    border: none;
}

/* #Play{

} */