*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Helvetica;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    color: wheat;
}

main{
    width: 100%;
    height: 100%;
    // background-color: #0e0e0e;
    // position: relative;
    // padding: 2vw;
}

// .first-navbar{
//     display: flex;
//     width: 50%;
//     height: 3rem;
//     padding: 2rem 0.5rem;
//     border: 0.5px solid rgba(245, 222, 179, 0.453);
//     background-color: #181716;
//     align-items: center;
//     justify-content: space-between;
//     margin-top: 1rem;
    // position: absolute;
    // left: 50%;



// }


// nav{
//     height: 5vh;
//     width: 5%;
//     // background-color: transparent;
//     // padding: 0.2rem 0.2rem;
//     // position: relative;
//     // margin-top: 2vw;
//     position: sticky;
//     top: 0;
//     z-index: 1000;
//     padding: 2vw;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


// }

// .navbox{
//     // width: 50%;
//     // width: fit-content;
//     // height: fit-content;
//     background-color: #181716;
//     // position: absolute;
//     // left: 34%;
//     // margin-left: 1rem;
//     padding: 0.5rem;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 1rem;
//     border: 0.2px solid wheat;




//     .left-nav{
//         width: 2%;
//         height: 100%;
//         // background-color: purple;
//         // position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         h2{
//             // position: absolute;
//             // left: 30%;
//             font-size: 1.5rem;
//             font-weight: 100;
//         }
//     }

//     .right-nav{
//         width: 3%;
//         height: 100%;
//         // background-color: brown;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // padding: 1rem 1rem 0.5rem 1rem;
//         gap: 3rem;
//         // font-size: 1rem;
//         // font-weight: 100;


//         h3{
//             // font-size: 1.2rem;
//             font-size: 1rem;
//             font-weight: 100;
//         }

//     }

    
    // button{
    //     width: 40%;
    //     padding: 0.8rem 1.2rem;
    //     border-radius: 5px;
    //     border: none;
    //     background-color: wheat;
    //     // border-radius: 2%;
    // }

    // button:hover{
    //     background-color: white;
    //     color: wheat;
    // }


// }

// nav{
//     width: 70%;
//     background-color: red;
    
// }

// nav{
//     width: fit-content;
//     background-color: red;
//     padding: 1rem;
//     // padding: 20px;
//     // display: flex;

//     .navbar{
//         width: fit-content;
//         background-color: blue;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         gap: 1rem;
//         padding: 0.5rem;

//         h1{
//             font-size: 1.3rem;
//             font-weight: 400;
//         }

        // .center-content{
        //     width: fit-content;
        //     display: flex;
        //     background-color: purple;
        //     align-items: center;
        //     padding: 0.2rem;
        //     justify-content: center;
        //     gap: 0.5rem;

        //     a{
        //         text-decoration: none;
        //         color: wheat;
        //         font-size: 0.9rem;
        //     }
        // }
    // }
// }



nav{
    width: 100%;
    // width: 50%;
    height: 5rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    // padding: 20px;
    // padding: 1.7rem 0;
    // padding: 1.8rem 0;

    position: fixed;
    top: 0;
    // margin-top: 0.2vw;
    // background: transparent;
    // background-color: #0e0e0e;
    z-index: 1000;



    .navbar{
        width: 90%;
        height: 100%;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.8rem;
        border: 1px solid rgba(245, 222, 179, 0.282);
        background: transparent;
        background-color: #0e0e0e;


        h3{
            // font-size: 1.5rem;
            font-size: 1.2rem;
            font-weight: 200;
            opacity: 0.8;
        }

        .center{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3vw;
            display: none;


            a{
                text-decoration: none;
                color: wheat;

                h4{
                    font-size: 1rem;
                    font-weight: 100;
                    opacity: 0.8;
                }

            }
        }

        .center a h4:hover{
            text-decoration: underline;

        }

        .right{

            button{
                padding: 0.7rem 1rem;
                font-size: 0.9rem;
                font-weight: 300;
                background-color: wheat;
                border: none;
                border-radius: 3%;
            }

            // .right:hover{
            //     background: fade-out($color: yellow, $amount: 0);
            // }
        }


    }
}




.view-1{
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // text-align: center;
    padding: 2rem 2rem;
    gap: 0.5rem;

    img{
        width: 82%;
        object-fit: cover;
    }

    h1{
        font-size: 3rem;
        font-weight: 100;
        text-align: center;
        line-height: 3.5rem;
    }

    p{
        font-size: 0.9rem;
        opacity: 0.6;
        text-align: center;
        font-weight: 100;
        font-family: Gilroy;
        line-height: 1.3rem;
        margin: 0.8rem 0;

        br{
            display: none;
        }
    }
}


.mid-btn{
    width: 100%;
    height: 4rem;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    i{
        font-size: 1.5rem;
        font-weight: 100;
        border: 1px solid rgba(245, 222, 179, 0.689);
        border-radius: 50%;
        padding: 0.2rem 0.3rem;
        // background-color:#0e0e0e;
        // border: none;
    }

    p{
        font-size: 1rem;
        font-weight: 100;
    }
}



.view-2{
    width: 100%;
    // background-color: blue;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;

    .marquee{
        display: flex;
        // padding: 0.5rem;
        // gap: 3rem;
        // background-color: red;
        // width: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;

        // &::after,::before{
        //     content: "";
        //     height: 100%;
        //     width: 50%;
        //     // background-color: red;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }

        &::before{
            content: "";
            height: 100%;
            width: 20%;
            position: absolute;
            top: 0;
            left: 0;
            // background-color: red;
            z-index: 4;
            background-image: linear-gradient(to right, #0e0e0e, transparent);
        }

        &::after{
            content: "";
            height: 100%;
            width: 22%;
            position: absolute;
            top: 0;
            right: 0;
            // background-color: red;
            background-image: linear-gradient(to left, #0e0e0e, transparent);

        }

        .text{
            display: flex;
            gap: 3rem;
            padding: 0 1.5rem;

            animation: marquee 10s linear infinite both ;

            p{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}


// For tablets :

// @media (min-width:768px) {

//     html{
//         font-size: clamp(16px, 1vw, 20px);
//     }

//     .view-1{

//         img{
//             width: 35%;
//         }

//         h1{
//             font-size: 5.5rem;
//             line-height: 6rem;
//         }

//         p{
//             font-size: 1.2rem;
//             padding: 0.5rem 0.5rem;
//             line-height: 1.7rem;
//             // width: 80%;
//             br{
//                 display: block;
//             }
//         }
//     }
    
// }







// For Laptops:

@media (min-width:1020px) {

    html{
        font-size: clamp(16px, 1vw, 20px);
    }


    nav{
        width: 100%;
        // width: 50%;
        height: 8rem;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 20px;
        padding: 1.7rem 0;
        // padding: 1.8rem 0;
        position: fixed;
        top: 0;
        // margin-top: 0.2vw;
        // background: transparent;
        // background-color: #0e0e0e;
        z-index: 1000;
    
    
    
        .navbar{
            width: 45%;
            height: 100%;
            // background-color: blue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            padding: 1.2rem;
            border: 1px solid rgba(245, 222, 179, 0.282);
            background: transparent;
            background-color: #0e0e0e;
    
    
            h3{
                font-size: 1.5rem;
                font-weight: 200;
                opacity: 0.8;
            }
    
            .center{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;
                // display: inline-block;
    
    
                a{
                    text-decoration: none;
                    color: wheat;
    
                    h4{
                        font-size: 1rem;
                        font-weight: 100;
                        opacity: 0.8;
                    }
    
                }
            }
    
            .center a h4:hover{
                text-decoration: underline;
    
            }
    
            .right{
    
                button{
                    padding: 0.8rem 1.1rem;
                    font-size: 0.9rem;
                    font-weight: 300;
                    background-color: wheat;
                    border: none;
                    border-radius: 3%;
                }
    
                .right:hover{
                    background: fade-out($color: yellow, $amount: 0);
                }
            }
    
    
        }

        .thrsymbol{
            display: none;
        }
    }
    

    .view-1{

        img{
            width: 27%;
        }

        h1{
            font-size: 8.5rem;
            line-height: 9rem;
        }

        p{
            font-size: 1.5rem;
            padding: 2rem 2rem;
            line-height: 2rem;
            // width: 80%;
            br{
                display: block;
            }
        }
    }

    .view-2{
        .marquee{
            width: 50%;
        }
    }

    // nav{
    //     height: 5vh;
    //     width: 100%;
    //     background-color: red;
    // }
    
}