*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Gilroy"; */
    font-family: "Fredoka", sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    /* background-color: rebeccapurple; */
    position: relative;
    padding-top: 0.1vw;
}

#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    height: 100%;
    /* width: 19%; */
    width: 25%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: Monument; */
    /* font-family: "Bungee Shade", sans-serif; */
    font-family: monument;
    /* font-size: 2.85vw; */
    font-size: 2.6vw;
    /* font-weight: 650; */
    font-weight: 560;
    letter-spacing: -1.2px;
    /* letter-spacing: -3.5px; */
}

#nav h6{
    position: absolute;
    /* left: 13.3%; */
    left: 12%;
    top: 12.6%;
    font-size: 0.75vw;
    font-weight: 400;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#nav p{
    position: absolute;
    left: 19.5%;
    top: 7%;
    font-size: 1.3vw;
    font-weight: 400;
    /* padding: 0.1vw; */
}

#nav h2{
    /* background-color: blue; */
    height: 100%;
    /* width: 18%; */
    width: 21%;
    /* width: 1%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    /* padding: 0 0.65vw; */
    font-size: 1.35vw;
    font-weight: 460;
    /* gap: 1vw */
    /* ; */
}
/* 
#nav h2:nth-last-child(2){
    width: 22%;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#nav h2:nth-last-child(4){
    width: 10%;
} */

/* #nav h2:nth-last-child(1){
    width: 12%;
}

#nav h2:nth-last-child(2){
    width: 20%;
}

#nav h2:nth-last-child(4){
    width: 10%;
}

#nav h2:nth-last-child(3){
    width: 11%;
} */

#nav h2:nth-last-child(1){
    width: 11%;
    /* padding-right: 3.2vw; */
    padding-right: 7vw;
    /* background-color: red; */
}

#nav h2:nth-last-child(2){
    /* width: 23%; */
    width: 20%;
    padding-right: 2.45vw;
}

#nav h2:nth-last-child(3){
    width: 13%;
    padding-right: 3.3vw;
    /* margin-right: 2%; */
}

#nav h2:nth-last-child(4){
    width: 19%;
    padding-left: 3vw;
    /* margin-left: 6%; ; */
    /* margin-right: 1%; */
}

#center{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 2.55vw; */
    padding: 3vw 4vw 0;
    /* u,r-l,down */
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#overlay{
    /* height: 44.55%; */
    height: 52.5%;
    /* height: 49.5%; */
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0%;
    padding: 2vw;
    /* padding: 1.5vw; */
    color: #fff;
    /* background-color: #00000047; */
    /* backdrop-filter:blur(10px), 10% #00000047; */
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: #fff; */
    margin-bottom: 1.5vw;
}

#over1 h1{
    font-size: 3.1vw;
    /* font-weight: 449; */
    font-weight: 600;
    font-family: monument;
    line-height: 3.8vw;
    mix-blend-mode: difference;
}

#over1 h2{
    font-size: 1.9vw;
    font-weight: 200;
    /* padding: 2vw 1.8vw; */
    padding: 1.7vw 1.9vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff ;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.2vw 0;
}

#over2 h4{
    font-size: 1.35vw;
    font-weight: 400;
    /* font-family: monument; */
}

#over2 img{
    height: 5vw;
}

#scroll{
    margin-top: 5.5vh;
    height: 40vh;
    width: 100%;
    background-color: #f8f8f8;
    /* background-color: red; */
    padding: 1vw;
    white-space: nowrap;
    /* overflow-x: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: rgba(255, 255, 255, 0); */
    /* animation: scrolling 5s timing-function 2s iteration-count direction fill-mode; */
    /* animation-name: scrolling; */
    /* animation-duration: 5s; */
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: scrolling;
    animation-duration: 7.55s;
    animation-iteration-count: infinite;
    /* animation: ease-in-out; */
    animation-timing-function: linear;
}

#scroll img{
    height: 100%;
    /* overflow: hidden; */
    border-radius: 50%;
    width: 13%;
    /* size-adjust: 100%; */
    /* image-rendering: 100%; */
    /* object-fit: cover; */
    object-position: center;
    object-fit: cover;
    margin: 0.6400vw;
}

@keyframes scrolling {
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(-100%);
    }
}

#alphabet{
    height: 10.3vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9vw;
    border-top: 0.15vw solid black;
    /* border: 2px solid black; */
    border-bottom: 0.15vw solid black;
}

#alphabet h5{
    font-size: 1.6vw;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 0.3vw;
    margin-right: 2.25vw;
}

#alphabet h6{
    font-size: 0.95vw;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    /* background-color: yellow; */
    /* padding: 0.45vw 0.65vw; */
    padding: 0.4vw 0.8vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid #000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    position: relative;
}

#page2part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1618375419595-91e66af79c59?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#page2part2{
    height: 100%;
    width: 40%;
    /* background-image: url(https://images.unsplash.com/photo-1518574095400-c75c9b094daa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fGFzaWFuJTIwbW9kZWxzfGVufDB8fDB8fHww); */
}

#page2part2 img{
    height: 70%;
    width: 90%;
    background-size: cover;
    background-position: center;
}

#text-content{
    position: absolute;
    left: 59.3%;
    left: 59.5%;
    top: 73%;
    /* height: 24%; */
    height: 23.6vh;
    width: 33.4vw;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.2vw 0.2vw;
    /* width: 35%; */
}

#text-content h1{
    font-size: 1.8vw;
    width: 46%;
    font-weight: 300;
    line-height: 2vw;
    /* background-color: yellow; */
}

#text-content p{
    font-size: 1vw;
    /* width: 50%; */
    width: 44.9%;
    line-height: 1.2vw;
    font-weight: 350;
    /* background-color: green; */
    /* position: absolute; */
    /* left: -10%; */
    /* flex-wrap: nowrap; */
    /* flex-shrink: 0; */
}  

#page3{
    height: 100%;
    width: 100%;
    /* background-color: green; */
}

#upperp3{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    padding: 0.5vw 1vw;
}

#upperp3 h1{
    font-size: 2.6vw;
    font-family: monument;
    text-transform: uppercase;
    font-weight: 590;
    /* padding: 4vw; */
}

#centerp3{
    height: calc(100% - 10vh);
    width: 100%;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding: 4vw 5vw 4vw 5vw; */
    /* gap: 21.5vw; */
    gap: 20vw;
    /* padding: 4.5vw; */
    padding: 4vw;
}

#imagegolas{
    height: 100%;
    width: 24%;
    /* background-color: lightcoral; */
    /* background-image: url(https://www.linearity.io/blog/content/images/2022/10/image-32.png); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    position: relative;
}

#imagegolas i{
    position: absolute;
    /* height: 10vh; */
    font-size: 5.55vw;
    font-weight: 100;
    top: 45.55%;
    left: 34.55%;
    /* background-color: red; */
}

/* #imagegolas h2{
    font-size: 1.5vw;
    font-weight: 400;
    
} */

#imagegolas img{
    position: absolute;
    height: 50%;
    width: 80%;
    /* object-fit: cover; */
    object-position: center;
    /* object-fit: cover; */
    background-size: cover;
    top:30%;
    left: 7%;
}

/* #bottomig{
    background-color: red;
    height: 10vh;
    padding: 0.5vw;
    position: absolute;
} */

#imagegolas p{
    height: 10vh;
    /* background-color: red; */
    padding: 0.5vw;
    font-size: 1.2vw;
    font-weight: 500;
    top: 86%;
    position: absolute;
    width: 100%;
}



#rimage3{
    /* position: relative; */
    height: 100%;
    width: 50%;
    background-color: lightsalmon;
    /* object-fit: cover; */
    /* object-position: center; */
}

#rimage3 img{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    object-fit: cover;
    object-position: center;
}

#page4{
    /* height: 90%; */
    /* width: 90%; */
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 5vw 5vw;
    /* position: relative; */
}

#mimage{
    /* background-color: blue; */
    /* height: 95vh; */
    /* width: 95vw; */
    height: 90%;
    width: 80%;
    top: 9%;
    left: 8.5%;
    position: relative;
}

#mimage img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 78.5%;
    /* object-position: 0 30%; */
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 2vw 2vw; 
}

#page5>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 2.3vw;
    /* font-weight: 570; */
    margin-bottom: 10.5vh;
}

.elem{
    height: 16.8vh;
    /* height: 16vh; */
    width: 100%;
    /* background-color: blue; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img{
    left: 50%;
}

.elem:nth-last-child(3) img{
    left: 50%;
}

/* .elem:nth-last-child(2) img{ */
    /* transition: none; */
    /* left: 13%; */
    /* background-color: red; */
    /* left: 40%; */
/* } */

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    /* background-color: red; */
    width: 6%;
    font-weight: 400;
}

.elem .elem-part2{
    width: 45%;
    /* width: 44%; */
    /* background-color: red; */

}

.elem-part2 h1{
    /* font-size: 2.55vw; */
    font-size: 2.2vw;
    font-weight: 400;
}

.elem-part2 h5{
    font-size: 0.85vw;
    font-weight: 249;
    text-transform: uppercase;
}

.elem .elem-part3{
    width: 45%;
    /* width: 44%; */
    /* background-color: red; */
}

.elem-part3 h1{
    font-size: 2.2vw;
    font-weight: 400;
}

.elem-part3 h5{
    font-size: 0.85vw;
    font-weight: 249;
    text-transform: uppercase;
}

.elem .elem-part4{
    width: 45%;
    /* width: 44%; */
}

.elem-part4 h1{
    font-size: 2.2vw;
    font-weight: 400;
}

.elem-part4 h5{
    font-size: 0.85vw;
    font-weight: 249;
    text-transform: uppercase;
}

.elem .elem-part5{
    width: 45%;
    /* width: 43.55%; */
}

.elem-part5 h1{
    font-size: 2.2vw;
    font-weight: 400;
}

.elem-part5 h5{
    font-size: 0.85vw;
    font-weight: 249;
    text-transform: uppercase;
}

.elem h2{
    /* background-color: red; */
    height: 7.85vh;
    width: 11%;
    position: absolute;
    left: 15%;
    top: 52%;
    font-size: 1.6vw;
    /* text-transform: uppercase; */
    font-weight: 450;
    /* gap: 0.1vw; */
    opacity: 0;
}

.elem h2 span{
    position: absolute;
    font-size: 0.9vw;
    font-weight: 350;
    /* top: 1%; */
    text-transform: uppercase;
    opacity: 0;
}

.elem:hover h2{
    opacity: 1;
}

.elem:hover span{
    opacity: 1;
}

/* Image circle */

.elem img{
    /* height: 13vh; */
    /* width: 6.5vw; */
    /* height: 100%; */
    /* width: 100%; */
    height: 110px;
    width: 110px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    object-position:center ;
}

.elem:hover img{
    opacity: 1;
    left: 28%;
}

/* .elem:nth-last-child(1) img{ */
    /* right: 50%; */
/* } */


#page6{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
}

#left6{
    /* background-color: blue; */
    /* height: 40%; */
    /* width: 20%; */
    height: 100%;
    width: 45%;
    padding: 2.5vw;
    /* position: relative; */
}

#content{
    /* position: absolute; */
    /* background-color: salmon; */
    height: 100%;
    width: 100%;
    /* background-image: url(https://images.unsplash.com/photo-1504791635568-fa4993808e0a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}

#content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 26%;
}

#right6{
    /* background-color: orchid; */
    height: 100%;
    width: 45%;
    padding: 1vw;
}

#content2{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* gap: 80vh; */
}

#content2>h1{
    text-align: start;
    font-family: monument;
    text-transform: uppercase;
    font-size: 2vw;
    /* font-weight: 570; */
    /* font-weight: 500; */
    margin-bottom: 5vh;
    padding: 1.6vw 0;
}

#content2>h2{
    font-size: 1.6vw;
    width: 60%;
    /* background-color: red; */
    font-weight: 400;
    line-height: 1.75vw;
    margin-bottom: 3vw;
    /* width: 40%; */
}

#content2>p{
    width: 90%;
    /* background-color: red; */
    font-size: 1.0vw;
    font-weight: 400;
    color: rgb(48, 46, 46);
    margin-bottom: 3vw; ;
}

#content3{
    height: 43vh;
    width: 85.5%;
    /* background-color: red; */
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 4.25vw; */
    /* position: relative; */
    gap: 3vw;
}

#left-cont-image{
    height: 100%;
    width: 50%;
    /* background-color: salmon; */
    background-image: url(https://images.unsplash.com/photo-1625017214880-29151b33ffb3?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url(https://plus.unsplash.com/premium_photo-1668638806052-4544af05f648?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-position: 0 30%;
    background-size: cover;
}

#right-cont-image{
    height: 100%;
    width: 40%;
    /* background-color: lightgreen; */
    background-image: url(https://images.unsplash.com/photo-1567920417781-bc7b5b8842d8?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    /* margin-left: 1vw; */
    /* position: absolute; */
}

#page7{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 1.5vw 9.9vw 1.5vw 5.7vw;
}

#contentp{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* object-position: center; */
    /* object-fit: cover; */
    /* background-image: url(https://images.unsplash.com/photo-1509041282410-ef44f92a193f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-size: cover; */
    /* background-position: 0 30%; */
}

#contentp>img{
    height: 100%;
    width: 100%;
    /* object-position: 0 17%; */
    object-fit: cover;
    object-position: center;
}